html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Styles */
.popup {
  position: absolute;
  left: 50%;
}

.popup .wrapper {
  position: relative;
  left: -50%;
}

.box {
  padding: 2em;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.box img {
  width: 100%;
}

.box button {
  margin-top: 2em;
  margin-bottom: 2em;
}
