html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  /* margin: 1em; */
  display: inline-block;
}

/* Styles */

.main-container {
  width: 100%;
  margin: 0 auto 10% auto;
  padding-top: 100px;
}

/* Navbar */

nav {
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

nav h1 {
  font-weight: 500;
  margin-top: 0.25em;
}

.file-container {
  width: 150px;
  height: 150px;
  position: fixed;
  top: calc((100% - 150px) / 2);
  left: calc((100% - 150px) / 2);
}

.custom-file-upload {
  cursor: pointer;
}

.custom-file-upload i {
  margin-left: 0.25em;
  margin-bottom: 0.05em;
  color: grey;
}

.custom-file-upload i:hover {
  color: #3399ff;
}

.custom-file-upload i:active {
  color: #236bb2;
}

.uploaded,
.uploaded i {
  color: #28a745;
}

.fileUpload {
  overflow: hidden;
  margin: 0.25em;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 50px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.btn-file {
  margin-left: 0.55em;
  border: 2px solid #333;
  color: #333;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}

/* End of upload an image */

.left-view,
.right-view {
  margin-left: 2.5em;
}

.box img {
  width: 100%;
}

.left-view button {
  width: 100%;
  margin-bottom: 2em;
}

.right-view .right {
  margin-top: 2em;
}

.btn-light,
.btn-light:hover {
  border: 1px solid #333;
}

.btn-left {
  margin-left: 0.5em;
  background: #236bb2;
  border-color: #236bb2;
}

.box i {
  margin: 30% 50%;
}

.badge {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .main-container {
    margin: 0 auto;
  }

  .left-view,
  .right-view {
    margin: 1em;
  }

  .right-view {
    text-align: center;
  }
}
